mser:
    delta: 1
    min_area: 10
    max_area: 500
    variation: 0.25
    total_pixels: 400000
    gamma: 3.0
    channels: ["Gray", "Red"]

mser_filter:
    perimeter_lim: 12.0
    aspect_ratio_lim: [0.05, 1.5]
    aspect_ratio_gt1: False 
    occupation_lim: [0.15, 0.90]
    compactness_lim: [0.003, 0.1]
    width_lim: [0,80]
    height_lim: [0,80]

morph:
    k_dilate: 6
    k_erode: 3
    k_opening: 3
    k_closing: 3

morph_filter:
    enable: True 
    area_lim: [20, 8000]
    aspect_lim: [0.125, 4.0]

contours:
    name: "car_license"
    extreme_area_ratio_for_ab: 24
    overlap_ratio: 0.75
    area_size: 50
    ar_of_direction_type: 2.5
    distance: 1.0
    merged_aspect_lim: 3.8
    merged_areasize_lim: 20000


contours_filter:
    enable: True 
    area_lim: [400, 20000]
    aspect_lim: [2.0, 100]
